
.product {
    position: absolute;
    top: 50%;
    transform: translate(10%, 10%);

    width: 300px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(#ffe53b, #5ecbf7);
}

.product .imagebox {
    height: 100%;
    box-sizing: border-box;
    
}

.product .imagebox img {
    display: block;
    width: 80%;
    margin: 10px auto 0;
}

.product .imagebox h2 {
    font-size: 25px;
    text-align: center;
    color: #db5f1d;
}

.product .imagebox h3 {
    position: relative;
    font-size: 23px;
    color: #581e6e;
    left: 8%;
}

.detail {
    font-size: 18px;
    color: #74310d;
    position: relative;
}

.desc {
    font-size: 20px;
    color: #5f0b1d;
    position: relative;
    left: 8%;
}

.imagebox .price {
    position: absolute;
    top: 18px;
    right: 25px;
    font-weight: bold;
    font-size: 22px;
    color: #db5f1d;
}

.specs {
    position: absolute;
    width: 100%;
    bottom: -50px;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    transition: .5s;
}

.specs:hover {
    bottom: 0;
}

.specs h2 {
    font-size: 25px;
    width: 100%;
}

.specs h2 .name {
    font-size: 18px;
    color: #808080;
    font-weight: normal;
}

.specs .price {
    position: absolute;
    top: 14px;
    right: 25px;
    font-weight: bold;
    font-size: 22px;
}

.specs h2 {
    font-size: 20px;
}

label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
}


.link {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 10px 0 0;
    background-color: #48a519;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.link:hover {
    background-color: #5ebf31;
    color: #000;
}