.footer {
	background: #152F4F;
	color: white;
  }
  .footer .links ul {
	list-style-type: none;
  }
  .footer .links li a {
	color: white;
	-webkit-transition: color .2s;
	transition: color .2s;
  }
  .footer .links li a:hover {
	text-decoration: none;
	color: #4180CB;
  }
  .footer .about-company i {
	font-size: 25px;
  }
  .footer .about-company a {
	color: white;
	-webkit-transition: color .2s;
	transition: color .2s;
  }
  .footer .about-company a:hover {
	color: #4180CB;
  }
  .footer .location i {
	font-size: 18px;
  }
  .footer .copyright p {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  